<h1>
    Hello {{name + getMethod() }}
    <br /> {{40*3}}
    <br />

</h1>
<img src="{{ImagePath}}" />
<!--Property binding- It uses [] square bracket for property names of elements, it will be usefull for non-string property values like Boolean-->

<img [src]="ImagePath" />
<button [disabled]="isDisabled">Button1</button>
<button disabled="{{isDisabled}}">Button2</button> <!--using interpolation in Boolean properties will cause the prperty disabled always irrespective of true or false-->
<input id="TESTIP" value="TEST" type="text" />

<br /><br />
<button class="colorClass">class="colorClass"</button>
<button class="classesToApply">class="classesToApply"</button>
<button class='colorClass' [class.boldClass]='applyBoldClass'>class='colorClass' [class.boldClass]='applyBoldClass'</button>
<button class='colorClass' [class.boldClass]='!applyBoldClass'>class='colorClass' [class.boldClass]='!applyBoldClass'</button>
<button class='colorClass boldClass italicsClass' [class.boldClass]='applyBoldClass'>class='colorClass boldClass italicsClass' [class.boldClass]='applyBoldClass'</button>
<button class='colorClass' [ngClass]='addClasses()'>Using ngClass Directive --- class='colorClass' [ngClass]='addClasses()'</button>


<br /><br />
<button style='color:red'
        [style.font-weight]="isBold ? 'bold' : 'normal'">
    style='color:red'
    [style.font-weight]="isBold ? 'bold' : 'normal'"
</button>
<button style='color:red'
        [style.font-size.px]="fontSize">
    style='color:red'
    [style.font-size.px]="fontSize"
</button>
<button style='color:red' [ngStyle]="addStyles()">style='color:red' [ngStyle]="addStyles()"</button>


<br /><br />
    Name : <input [value]='TexboxVal'>
<br>
    You entered : {{TexboxVal}}
<br />
    Name : <input [value]='TexboxVal' (input)='TexboxVal = $event.target.value'>
<br>
    You entered : {{TexboxVal}}
<br />
    Name : <input [(ngModel)]='TexboxVal'>
<br>
    You entered : {{TexboxVal}}
<br />
<my-employee>

</my-employee>

<list-employee></list-employee>

<br />
<br />
Simple componet and and its Life cycle hooks in Angular<br />
Simple Component Life cycle Hook Test : <input type='text' [(ngModel)]='SimpleComponetTextbox' />
<br /><br />
<simple [simpleInput]='SimpleComponetTextbox'></simple>

<table class="table table-bordered " >
    <tr><td>Col</td></tr>
    <tr><td>Col</td></tr>
</table>
<br /><br />

Demonstration of Routing feature in Angular<br />
<!--The routerLink directive tells the router where to navigate when the user clicks the link.
The routerLinkActive directive is used to add the active bootstrap class to the HTML navigation element whose route matches the active route.
The router-outlet directive is used to specify the location where we want the routed component's view template to be displayed.
The routerLink, routerLinkActive and router-outlet directives are provided by the RouterModule which we have imported in our application root module.
If you forget to specify the router-outlet directive, you will get and error stating - cannot find primary outlet to load component.-->
<br />
<div style="padding:5px">
    <ul class="nav nav-tabs">
        <li routerLinkActive="active">
            <a routerLink="home">Home</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="employees">Employees</a>
        </li>
    </ul>
    <br />
    <router-outlet></router-outlet>
</div>
<!--Finally in web.config file of our angular application include the following url-rewrite rule to tell IIS
     how to handle routes. The match url, <match url=".*" />, will rewrite every request.
     The URL in <action type="Rewrite" url="/src/" /> should match the base href in index.html.--> 